# Aplicação
PORT=3000
NODE_ENV=development

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=api-com-docker-db
MYSQL_USER=api_user
MYSQL_PASSWORD=api_password

# Configuração utilizada pela API
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=api_user
DB_PASSWORD=api_password
DB_DATABASE=api-com-docker-db